#container{

    margin: 0 auto ;
    overflow: hidden;
}





#header{
 
    color:white;
    float: none;
    text-align: center;
}

#headerLINEA{
 border: 2px solid currentColor;
    margin-top: 5px;   
}



#content{


    background-color: lightgrey;
    width: 50%;
    border: 5px solid currentColor;

    padding: 44px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    float: left;

    


}

#rightText{
    width:20%;
    border: 2px solid currentColor;
    
    
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    float: right;

      
    margin-bottom: 50px;
    
}

<!---->
#rightMenu{
    width:25%;
    border: 5px solid currentColor;
    
    
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;

      
    margin-bottom: 400px;
}

#footer{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    
    background-color: gray;
    text-align: center;
    float: none;
    clear: both;                
    color: white;
}

body{
    
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border:#6600cc; 
 
}
main{
     background: aqua;
}


